* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f5fbff;
  color: #2f3b46;
}

:root {
  --blue-main: #9fc7e8;
  --blue-soft: #eaf4fb;
  --blue-light: #f5fbff;
  --blue-hover: #7fb4dd;
  --text-dark: #2f3b46;
  --border-light: #d8e6f2;
}